.services {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  .services-headings {
    font-size: 22px;
    font-weight: 700;
  }
  .services-top, .services-bottom {
    display: flex;
    justify-content: space-between;
  }
  .services-top {
    margin-bottom: 50px;
    .services-content {
      margin-right: 80px;
    }
  }
  .services-bottom {
    .services-content {
      margin-left: 80px;
    }
  }
  .services-image {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      box-shadow: 0 5px 15px #000;
    }
  }
}