.contact .contact-content {
  display: flex;
  flex-direction: column; }

.contact img {
  box-shadow: 0 5px 15px #000; }

.contact .form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.contact a {
  text-decoration: none;
  color: #598d2b;
  font-weight: bold; }
