@import './assets/palette.scss';

@font-face {
  font-family: "Seedfont";
  src: url('./assets/FiraSans-Book.otf') format("truetype");
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Seedfont";
  letter-spacing: 0.01em;
  color: $text;
}
.content {
  background-color: #fff;
  width: 100%;

  .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $brown;
      font-weight: bold;
    }
    justify-content: center;
    background-color: white;
    width: 100%;
  }
  .nav {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      margin-right: 50px;
    }
  }

  .section {
    padding: 0 80px;
    h1 {
      color: $brown;
    }
    margin-bottom: 100px;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: 40px 0;
      &.circles {
        margin-bottom: 90px;
      }
    }
  }
  .about {
    width: 90%;
  }
  .services {
  }
  .contact {
  }
  .testimonials {
  }
  .footer {
    height: 100px;
    background: url('./assets/beans.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

