.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Tahoma, sans-serif; }

.content {
  background-color: #fff;
  width: 100%; }
  .content .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: white;
    width: 100%; }
    .content .menu a {
      text-decoration: none;
      color: #47290f;
      font-weight: bold; }
  .content ul {
    display: flex;
    justify-content: space-around;
    padding: 5px; }
    .content ul li {
      list-style-type: none;
      font-size: 18px;
      text-transform: uppercase; }
  .content .section {
    padding: 0 80px;
    height: 600px; }
    .content .section h1 {
      margin-top: -90px;
      color: #47290f; }
  .content .service-icons {
    height: 150px; }
  .content .home {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content .home img {
      margin-top: 20px; }
      .content .home img.circles {
        margin-top: 80px; }
  .content .footer {
    height: 100px;
    background: url("./assets/beans.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
