@font-face {
  font-family: "Seedfont";
  src: url("./assets/FiraSans-Book.otf") format("truetype"); }

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Seedfont";
  letter-spacing: 0.01em;
  color: #47290f; }

.content {
  background-color: #fff;
  width: 100%; }
  .content .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: bold;
    justify-content: center;
    background-color: white;
    width: 100%; }
    .content .menu a {
      text-decoration: none;
      color: #47290f;
      font-weight: bold; }
  .content .nav {
    display: flex;
    justify-content: center; }
    .content .nav li {
      list-style-type: none;
      margin-right: 50px; }
  .content .section {
    padding: 0 80px;
    margin-bottom: 100px; }
    .content .section h1 {
      color: #47290f; }
  .content .home {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content .home img {
      margin: 40px 0; }
      .content .home img.circles {
        margin-bottom: 90px; }
  .content .about {
    width: 90%; }
  .content .footer {
    height: 100px;
    background: url("./assets/beans.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
